<div *ngIf="this.authorize.isAuthenticate() && this.authorize.isAdmin()">

  <div class="container">
      <div class="row">
        <div class="offset-3"></div>
        <div class="col-md-6">
          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && Post(nom.value,prenom.value)" novalidate class="feedback-form">
            <!-- Name -->
            <div class="form-group">
              <label for="nom">Nom</label>
              <input 
                     id="nom"
                     class="form-control"
                     name="nom"
                     type="text" #nom ngModel name="nom" placeholder="Entrez le nom de l'infirmier"
                     [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }"
                     required/>
              <!-- input validation group -->
              <div *ngIf="f.submitted && nom.invalid" class="invalid-input">
                <!-- individual validation errors -->
                <div *ngIf="nom.errors?.required">Champ requis</div>
              </div>
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input
                       id="prenom"
                       class="form-control"
                       name="prenom"
                       type="text" #prenom ngModel name="prenom" placeholder="Entrez le prénom de l'infirmier"
                       [ngClass]="{ 'is-invalid': f.submitted && prenom.invalid }"
                       required/>
                <!-- input validation group -->
                <div *ngIf="f.submitted && prenom.invalid" class="invalid-input">
                  <!-- individual validation errors -->
                  <div *ngIf="prenom.errors?.required">Champ requis</div>
                </div>
              </div>
            <p></p>
            <button type="submit" class="btn btn-info pull-right">
              <i class="fa fa-envelope-o"></i>
              <span > Enregistrer le nouvel infirmier</span>
            </button>
          </form>
        </div>
        <div class="offset-3"></div>
      </div>
    </div>
    </div>