<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Bienvenue</h1>
          <p class="lead">Vous avez içi accès à une banque de données dynamiques de tâches et patients et infirmiers relatif.</p>
        </div>
        <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <button *ngIf="this.authorize.isAuthenticate() && this.authorize.isUser()" routerLink='/infirmier'class="btn btn-primary">Infirmiers</button>
                    <button *ngIf="this.authorize.isAuthenticate() && this.authorize.isUser()" routerLink='/patient' class="btn btn-primary" >Patients</button>
                    <button *ngIf="this.authorize.isAuthenticate() && this.authorize.isUser()" class="btn btn-primary" routerLink='/taches' >Tâches</button>
                    <button *ngIf="!this.authorize.isAuthenticate()" routerLink='/inscription' class="btn btn-primary">Inscription</button>
                    <button *ngIf="!this.authorize.isAuthenticate()" routerLink='/connexion' class="btn btn-primary">Connexion</button>
                    <button *ngIf="this.authorize.isAuthenticate()"  class="btn btn-primary" (click)="Logout()">Déconnexion</button>
                  </div>
                </div>
              </div>
      </div>
<p></p>

<router-outlet ></router-outlet>

<div class="alert alert-primary" role="alert" *ngIf="this.authorize.isAuthenticate()">
    Bonne navigation <i>{{this.authorize.user.username}}</i>
  </div>
