<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Bienvenue</h1>
          <p class="lead">Vous avez içi accès à une banque de données dynamique de tâches et patients et infirmiers relatif.</p>
        </div>
        <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <button class="btn btn-primary">Infirmiers</button>
                    <button routerLink='/patient' class="btn btn-primary" >Patients</button>
                    <button class="btn btn-primary">Tâches</button>
                  </div>
                </div>
              </div>
      </div>
<p></p>

<router-outlet ></router-outlet>
