<div *ngIf="this.authorize.isAuthenticate()">
<div class="container">
  <table class="table" *ngFor="let f of listTaches; let index =index">
      <tr><th >Tâche n°{{f.id}}</th></tr>
      <tr ><td>Type</td><td>{{f.itache.type}}</td></tr>
      <tr ><td>Déscription</td><td>{{f.itache.description}}</td></tr>
      <tr ><td>Jour</td><td>{{f.jour.nomJour}}</td></tr>
      <tr ><td>Heure</td><td>{{f.heure.nomHeure}}</td></tr> 
    
    <div class="container">
      <table class="table" *ngFor="let f1 of f.patients; let index =index">
        <tr><th>Patient(e) participatif(ve) Id n°{{f1.id}}</th></tr>
        <tr ><td>Prénom</td><td>{{f1.prenom}}</td></tr>
        <tr ><td>Nom</td><td>{{f1.nom}}</td></tr>
      </table>
    </div>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="this.authorize.isAuthenticate() && this.authorize.isAdmin()">
              
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ajouter un patient à la Tâche
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" *ngFor="let patient of listpatient" (click)="Put(patient.id,f.id)">
            <div *ngIf="patient.isvalid">Id: {{patient.id}} {{patient.nom}} {{patient.prenom}}</div></a>
        </div>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="this.authorize.isAuthenticate() && this.authorize.isAdmin()">
              
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Retirer un patient de la Tâche
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" *ngFor="let pat of f.patients"   (click)="Delete(pat.id,f.id)"  >Id: {{pat.id}} {{pat.nom}} {{pat.prenom}}</a>
        </div>
      </div>
    </div>
  </table>
</div>
</div>
