<div *ngIf="this.authorize.isUser() && this.authorize.isAuthenticate()">

  <table *ngIf="listinfirmier" class="table">
    <tr>
    <th>ID</th><th>Nom</th><th>Prenom</th> <th></th><th></th> 
  </tr>
    
    <tr  *ngFor="let f of listinfirmier" >
      <td *ngIf="f.isvalid">{{f.id}}</td>
      <td *ngIf="f.isvalid">{{f.nom}}</td>
      <td *ngIf="f.isvalid">{{f.prenom}}</td>
      <!-- <td *ngIf="f.isvalid && this.authorize.isAuthenticate() && this.authorize.isAdmin()" [routerLink]='["/patientdetail", f.id]' routerLinkActive="active" type="button" class="btn btn-light">Obtenir les infos</td> -->
      <td  *ngIf="f.isvalid && this.authorize.isAuthenticate() && this.authorize.isAdmin()" type="button" class="btn btn-light" (click)="Del(f.id)">Supprimer l'infirmier</td>
    </tr> 
  <tr *ngIf="this.authorize.isAuthenticate() && this.authorize.isAdmin()" routerLink='/crinfi' type="button" class="btn btn-secondary">Ajouter un infirmier</tr>
  
  </table>
  </div>